<ul class="layui-nav left fast-add" lay-filter="">
    <li class="layui-nav-item">
        <a href="javascript:;">+新增</a>
        <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a href="javascript:;"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
            <dd><a href="javascript:;"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
            <dd><a href="javascript:;"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            <dd><a href="javascript:;"><i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
        </dl>
    </li>
</ul>